div( class=stonknote_show_class(stonknote) data-stonknote-id=stonknote.id )
  .stonknote-show__timestamp= stonknote.created_at.strftime("%Y-%m-%d %l:%M%P") + " - " + stonknote.id.to_s
  p= stonknote.message
  .stonknote-show__actions 👍🏽😐👎🏽
