= turbo_stream.append(:stonknotes_content, partial: 'stonknotes', locals: { stonknotes: @result })
= turbo_stream.replace(:stonknotes_load_more_form, partial: 'load_more_form', locals: { stonknotes: @result })
